
                                            <h3>Android App Development </h3>
                                            <br>
                                            
                                            <h4>Module Objectives</h4>
                                            <p class="dta">This module equips students with the tools required to build professional grade android apps for all kinds of clients</p>
                                            <br>
                                            <div class="well">
                                                <h4>Course Outline</h4>
                                               <ul>
													<li>Version control with Git and Github </li>
													<li>Java Programming for Android Developers </li>
													<li>Advanced Java Programming for Android Developers </li>
													<li>XML </li>
													<li>Android App Development Essential Training </li>
													<li>Advanced Android App Development </li>
													<li>Deployment to Google Play store </li>
													<li>Android App Development Project </li>
												</ul>
                                             </div>
                                            
                                             <h4>Extra information</h4>

                                             <p class="dta">This module can be taken alone by already professional developers. See the director for further details</p>
                                             <!--
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>to be announced</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>4 Months</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 300 000</td>
                                                    </tr>
                                                </tbody>
                                             </table>
                                         -->
