<h3>Professional BSc in Cyber Security </h3>
                                            <p class="dta">Cyber security refers to the body of technologies, processes, and practices designed to protect networks, devices, programs, and data from attack, damage, or unauthorized access. Cyber security may also be referred to as information technology security

                                            Our BSc in Cyber Security trains students on the latest techniques of securing web and mobile applications, networks, computing systems and databases. The first and second years of studies give the student a solid foundation in professional web technologies, databases, computer systems, networking and advanced programming. The last year is the specialization year and includes courses on Ethical hacking and penetration testing, cryptography, server management and security, network security, etc.  </p>
                                           
                                            <p class="dta">Graduates in Cyber security can work as Security Consultant, Information Security Analyst, Ethical Hackers, Computer Forensics Analysts, Chief Information Security Officer, Penetration Tester, IT Security Consultant. Security Systems Administrator</p>
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> 
                                             A levels, Bac </span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                              <p class="dta">Detailed course content is available from the director's office</p>
                                              
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                  <tr>
                                                        <th>Language of Instruction</th>
                                                        <td>English ( English course for non-English speakers)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>Oct. 2019</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td> 3 Years</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Fees (per year)</th>
                                                        <td>CFA 500 000 (Cameroonians), <br> CFA 730,000 (Foreign Students) <br>Pay in 3 installments <br>Registration Fee: CFA 20, 000 frs</td>
                                                    </tr>
                                                </tbody>
                                             </table>