<h3>Professional BSc in Computer Graphics and Multimedia</h3>
                                            <p class="dta"> We often wonder how those beautiful graphics displayed on TV when the news is about to start or during adverts are created. When we walk beside the road we see again complex graphics design sign boards or road banners. You may have also seen the computer models of houses, stadiums- or halls posted at the site before they are being constructed.<br>This bachelor degree program will equip you with the latest tools to acomplish complex infographics, graphics design as well use the computer to model architectural designs and much more.
                                            </p>
                                           
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> 
                                            A levels, BAC </span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                              <p class="dta">Detailed course content is available from the department of Computer Science and Engineering or the director's office</p>
                                              
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                   <tr>
                                                        <th>Language of Instruction</th>
                                                        <td>English ( English course for non-English speakers)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>To be announced</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td> 3 Years</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Fees (per year)</th>
                                                        <td>CFA 600 000 (Cameroonians), <br> CFA 730,000 (Foreign Students) <br>Pay in 3 installments</td>
                                                    </tr>
                                                </tbody>
                                             </table>