<h3>Professional BSc in Cloud Computing and Big Data</h3>
                                            <p class="dta"> Cloud computing means storing and accessing data and programs over the Internet instead of your computer's hard drive. A cloud service provider will provide servers, storage space, and other services that a company can simply rent efficiently for their IT needs.<br> Big Data refers to extremely large data sets that may be analysed computationally to reveal patterns, trends, and associations, especially relating to human behaviour and interactions.<br>This bachelor degree program will  train you in cloud architectures, networking, virtualisation, storage, security, cloud computing programing, and how to analyze big data sets for trends and patterns that a company can use for marketing or decision making.
                                            </p>
                                           
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> 
                                            A levels, BAC </span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                              <p class="dta">Detailed course content is available from the department of Computer Science and Engineering or the director's office</p>
                                              
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                   <tr>
                                                        <th>Language of Instruction</th>
                                                        <td>English ( English course for non-English speakers)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>To be announced</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td> 3 Years</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Fees (per year)</th>
                                                        <td>CFA 600 000 (Cameroonians), <br> CFA 730,000 (Foreign Students) <br>Pay in 3 installments</td>
                                                    </tr>
                                                </tbody>
                                             </table>