                                            <h3>Professional BSc in Web and Mobile Systems </h3>
                                            <p class="dta">Web development is the application of software engineering principles to the development of complex intranet or internet systems. This program takes students through mobile first responsive web design; web content development; client-side/server-side scripting; network system configuration, security and administration; cloud computing; SQL/NoSQL database technologies and tools to design, develop, and deploy networked apps on mobile operating systems</p>
                                            <p>Graduates of this program will be able to program in HTML5, CSS3/Less/SASS, Javascript/ES2017, Java/Kotlin, Php 7, Python, Node,  C#, C/C++ as well as understand how to use frameworks( Laravel, Express, Bootstrap, React, Jquery, Angularjs, Vuejs, Django, Flask and Java Spring/Play) </p>
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> 
                                            A levels, BAC or <br> Top-up options exists for BTS, and HND graduate in Software engineering and computing </span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                              <p class="dta">Detailed course content is available from the department of Web and Mobile systems or the director's office</p>
                                              
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                  <tr>
                                                        <th>Language of Instruction</th>
                                                        <td>English ( English course for non-English speakers)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>18th March, 2019</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td> 3 Years</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Fees (per year)</th>
                                                        <td>CFA 500 000 (Cameroonians), <br> CFA 730,000 (Foreign Students) <br>Pay in 3 installments <br>Registration Fee: CFA 20, 000 frs</td>
                                                    </tr>
                                                </tbody>
                                             </table>