<h3>Professional BSc in Computer Systems and Network Adminsitration </h3>
                                            <p class="dta">Network and computer systems administrators are responsible for the day-to-day operation of the computer systems and network infrastructure of companies.<br> They organize, install, and support an organization's computer systems, including local area networks (LANs), wide area networks (WANs), network segments, intranets, and other data communication systems. <br><br>Students benefit from hands-on coursework in creating and configuring various operating systems and servers, either physically or through virtualization, and in applying information security principles. </p> The course work adequately prepares them to sit for industry standard certifications from the following;
                                            <ul>
                                              <li>Microsoft</li>
                                              <li>Cisco</li>
                                              <li>Linux</li>
                                              <li>Comptia</li>
                                            </ul>
                                           
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> 
                                            A levels,  BAC </span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                              <p class="dta">Detailed course content is available from the department of Systems and Network or the director's office</p>
                                              
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                   <tr>
                                                        <th>Language of Instruction</th>
                                                        <td>English ( English course for non-English speakers)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>Oct. 2019</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td> 3 Years</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Fees (per year)</th>
                                                        <td>CFA 500 000 (Cameroonians), <br> CFA 730,000 (Foreign Students) <br>Pay in 3 installments <br> Registration Fee: 20 000FCFA</td>
                                                      
                                                    </tr>
                                                </tbody>
                                             </table>