<h3>Professional BSc in Computer Engineering</h3>
                                            <p class="dta"> Computer Engineering is the synergy of Electrical engineering, Electronic engineering and various fields of computer science. Computer engineers are involved in many hardware and software aspects of computing, from the design of individual microcontrollers, microprocessors, personal computers, and supercomputers, to circuit design. This field of engineering not only focuses on how computer systems themselves work, but also how they integrate into the larger picture.</p> Graduates of computer engineering works as 
                                            <ul>
                                              <li>Software Engineers</li>
                                              <li>Embedded systems engineer</li>
                                              <li>Electronic engineers</li>
                                              <li>Electrical engineers</li>
                                            </ul>
                                           
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> 
                                            A levels in the sciences(Mathematics included), BAC scientifiques</span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                              <p class="dta">Detailed course content is available from the department of Computer Science and Engineering the director's office</p>
                                              
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                   <tr>
                                                        <th>Language of Instruction</th>
                                                        <td>English ( English course for non-English speakers)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>To be announced</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td> 3 Years</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Fees (per year)</th>
                                                        <td>CFA 600 000 (Cameroonians), <br> CFA 730,000 (Foreign Students) <br>Pay in 3 installments</td>
                                                    </tr>
                                                </tbody>
                                             </table>