    <div class="apply-now-v1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="item">
                            <div class="left">
                                <p>Don't wait .Apply right now for admission</p>
                            </div>
                            <div class="right">
                                <%= link_to "Apply Now", new_user_path %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Apply Now End -->

        
        <!-- Footer Main Start -->
        <section class="footer-main">
            <div class="container">
             <h4 class="address text-center">International Institute of Professional Android, Web and IT Systems</h4>
             <h5 class="text-center  text-danger"><b>Rond Point Sapeur Pompier, Bonaberi Douala ( Yellow Building on the Road to Ancienne Route(Besseke/Bonambappe)</b></h5>
            </div>
        </section>

        <!-- Footer Main End -->

        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 copyright">
                        Copyright &copy; <%= Date.today.year %>,  International Institute of Professional Android, Web and IT Systems. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>