

<h3>Professional Diploma in Computer Graphics Design and Multimedia</h3>
                                            <p class="dta"> Our Diploma in Graphic Design equips students with the concepts of Graphic Design and to the world of Visual Communication. Students will explore the concept of Visual Thinking, Elements & Principles of Design, Photography, Typography and Infographics.
                                            </p>
                                           
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> 
                                            A levels, BAC </span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                             
                                               <ul>
                                                  <li>Adobe Photoshop  </li>
                                                  <li>Adobe Illustrator</li>
                                                  <li>Adobe Premier Pro</li>
                                                  <li>Adobe Lightroom</li>
                                                  <li>Adobe After Effects</li>
                                                  <li>Adobe Indesign </li>
                                                </ul>
                                              
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                   <tr>
                                                        <th>Language of Instruction</th>
                                                        <td>English ( English course for non-English speakers)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>immediately upon minimum students applicants attained</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td> 1 Year</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Fees (per year)</th>
                                                        <td>CFA 480 000 (Cameroonians), <br> CFA 580,000 (Foreign Students) <br>Pay in 3 installments</td>
                                                    </tr>
                                                </tbody>
                                             </table>