

<h3>Professional Diploma in Computer Graphics Design and Multimedia</h3>
                                            <p class="dta"> Our Diploma in Graphic Design equips students with the concepts of Graphic Design and to the world of Visual Communication. Students will explore the concept of Visual Thinking, Elements & Principles of Design, Photgraphy, Typography and Infographics. The course also familiarises students with the essential software; Adobe Photoshop, Adobe Illustrator, Adobe InDesign and and Adobe After Effects.
                                            </p>
                                           
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> 
                                            A levels, BAC </span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                             
                                               <ul>
                                                  <li> Digital Tools for Visual Arts  </li>
                                                  <li> Fundamentals of Graphic Design I</li>
                                                  <li> Fundamentals of Graphic Design II </li>
                                                  <li>Graphic Design III</li>
                                                  <li>Advanced Graphic Design for Web and Interaction</li>
                                                  <li> Illustration I</li>
                                                  <li> Illustration II</li>
                                                  <li>Illustration III</li>
                                                  <li>Introduction to Animation</li>
                                                  <li>Publication Design with InDesign</li>
                                                  <li>Photoshop for Graphics and Photography</li>
                                                  <li> Illustrator / Vector Graphics</li>
                                                  <li>Graphic Design for the Web</li>
                                                  <li>Advanced Image Editing and Correction</li>
                                                </ul>
                                              
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                   <tr>
                                                        <th>Language of Instruction</th>
                                                        <td>English ( English course for non-English speakers)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>To be announced</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td> 1 Year</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Fees (per year)</th>
                                                        <td>CFA 480 000 (Cameroonians), <br> CFA 580,000 (Foreign Students) <br>Pay in 3 installments</td>
                                                    </tr>
                                                </tbody>
                                             </table>