<h3>HND in Software Engineering and Computing</h3>
                                            <p class="dta">This is a Cameroonian government 2 year academic program that aims at training students in software engineering and computing.</p>
                                             
                                           
                                           
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> 
                                             A levels, Bac or ND</span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                              <p class="dta">Detailed course content is available from the department of Computer Science and Engineering or the director's office</p>
                                              
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                  <tr>
                                                        <th>Language of Instruction</th>
                                                        <td>English ( English course for non-English speakers)</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>To be announcedbin/bash --login
                                                        </td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td> 2 Years</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Fees (per year)</th>
                                                        <td>CFA 420 000 (Cameroonians), <br> CFA 550,000 (Foreign Students) <br>Pay in two installments</td>
                                                    </tr>
                                                </tbody>
                                             </table>