                                            <h3>Web Development with PHP and Laravel</h3>
                                            <br>
                                            <p>Module Objectives</p>
                                            <p class="dta">This module teaches you how to craft database driven websites with PHP, Mysql and the MVC Php framework LARAVEL</p>
                                            <br>
                                            
                                            <br>
                                            <div class=" well">
                                                <h4>Course Outline</h4>
                                               <ul>
                                                <li>Web communications and engineering</li>
                                                <li>Linux system administration and networking</li>
                                                <li>Working with the Windows shell</li>
                                                <li>Application Database design</li>
                                                <li>MYSQL</li>
                                                <li>Object oriented programming with PHP 7</li>
                                                <li>Database driven programming with PHP7 and MYSQL</li>
                                                
                                                <li>Web App development with Laravel framework</li>
                                                <li>Version control with Git and Github</li>
                                                <li>Web app deployment to production</li>
                                                <li>Web development group Project</li>
                                                </ul> 
                                             </div>
                                            
                                             <h4>Extra information</h4>

                                             <p class="dta">This module can be taken alone as a certificate by already professional developers. See the director for further details</p>
                                             <!--
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>Immediately after Front End course</td>
                                                    </tr>
                                                     
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>4 Months</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 270 000</td>
                                                    </tr>
                                                </tbody>
                                             </table>
                                             -->