

    										<h3>Web Development with Node,Express and MongoDB</h3>
                                            <br>
                                            <span class='dinfo'>Note: Student either take this special module or the laravel module not both. Module specially designed for those who intend to travel to the US or Europe </span>
                                            <p>NodeJS  is in high demand in these regions with good starting salaries</p>
                                            <br>

                                            <h4>Module Objectives</h4>
                                            <p class="dta">A website written in node, express and mongoDb can handle  traffic from many users with limited computer resources. Big companies(Linkedin, Netflix, Walmart, Yahoo, Myspace, Uber etc) are migrating to it because it allows them to build highly scalable website. This module trains you to build web apps in Node</p>


                                             
                                            <br>
                                            <div class=" well">
                                                <h4>Course Outline</h4>
                                               <ul>
													<li> Object Oriented programming with JavaScript and ES6</li>
                                                    <li> Advanced Object Oriented programming with JavaScript and ES6</li>
													<li> Server-Side programming with NodeJs</li>
                                                    <li> Web development with Express</li>
                                                    <li> MongoDB and Non Relational database design</li>
													<li> Linux system administration</li>
													 <li>Version control with Git and Github</li>
													<li> Web app deployment to production on Heroku</li>
													<li> Web development group Project</li>
                                                </ul> 
                                             </div>
                                            
                                             
                                           <h4>Extra information</h4>

                                             <p class="dta">This module can be taken alone as a certificate by already professional developers. See the director for further details</p>
                                             
                                             <!--
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>(immediately after the Professional Mobile First Design Course</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 300 000</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>4 Months</td>
                                                    </tr>

                                                    <tr>
                                                        <th>experienced developers can take this as a single module</th>
                                                        <td>4 Months</td>
                                                    </tr>
                                                    
                                                    
                                                </tbody>
                                             </table>
                                         -->
                                         
