<h3>Web Development with Ruby on Rails</h3>
                                            <br>
                                            <span class='dinfo'>  This moodule is specially designed for those who intend to travel to the US or Europe </span>
                                            <p>Ruby on Rails is in high demand in these regions with good starting salaries</p>
                                            <br>

                                            <h4>Module Objectives</h4>
                                            <p class="dta">This course trains student to develop professional website with Ruby on Rails, the hottest technology in Silicon Valley used to build websites such as Twitter, Linkedin, AirBnB, Basecamp, Yelp etc.  </p>

                                             
                                            <br>
                                            <div class=" well">
                                                <h4>Course Outline</h4>
                                               <ul>
                                                    <li> Web communications and engineering</li>
                                                    <li> Linux system administration</li>
                                                    <li> Version control with Git and Github</li>
                                                    <li> Application Database design and PostgreSQL</li>
													<li> Object Oriented programming in Ruby</li>
                                                    <li> Web development with Ruby micro framework Sinatra</li>
                                                    <li> Web development with Ruby on Rails</li>
													<li> Web app deployment to production on Heroku</li>
													<li> Web development group Project</li>
                                                </ul> 
                                             </div>
                                            
                                             
                                           <h4>Extra information</h4>

                                            <p class="dta">This module can be taken alone as a certificate by already professional developers. See the director for further details</p>