<!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 top-contact">
                        <div class="list">
                            <i class="fa fa-envelope"></i> <a href="">director@iipawis.com</a>
                        </div>
                        <div class="list">
                            <i class="fa fa-phone"></i> +237 682889915 
                        </div>
                    </div>
                    <div class="col-md-6 top-social">
                        <ul>
                            <li><a href="https://www.facebook.com/iipawis/"><i class="fa fa-facebook"></i></a></li>
                            
                            <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <!-- top bar ends here -->

        <!-- Blog Start -->
        <section class="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">

                        <!-- Blog Classic Start -->
                        <div class="blog-grid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="post-item no-pb">