
                                          
                                            <h3>Professional Mobile First Web Design</h3>
                                            

                                            <h4>Course Objectives:</h4>
                                            <p class="dta">Master the advanced art of crafting truely professional, responsive and beautiful websites with this course.<br>The course takes you through all the current web standards as well as the CSS prepocessor SASS and web engineering and communication</p>

                                            <div class=" well">
                                              <h4>Course Outline</h4>
                                               <ul>
                                                   <li>Web communications and engineering</li>
                                                   <li> HTML5</li>
                                                   <li>CSS 3</li>
                                                   <li>JavaScript</li> 
                                                   <li>JQuery, JSON and AJAX</li>
                                                   <li>Twitter bootstrap</li>
                                                   <li>User Interface Design and User Experience</li>
                                                   <li>CSS Preprocessors (Sass)</li>
                                                   <li>How to earn money as a web designer</li>
                                                   <li>Professional website design project</li>
                                                </ul> 
                                             </div>
                                            

                                             <h4>Extra information</h4>

                                             <p class="dta">This module can be taken alone as a certificate by already professional developers. See the director for further details</p>
                                             <!--
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>5th February, 2018</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Course End Date</th>
                                                        <td>6th May, 2018</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>4 Months</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 250 000</td>
                                                    </tr>
                                                </tbody>
                                             </table>
                                           -->
                                          