<!-- course detail top --> 
        <%= render 'topcoursedetails' %>
        <!-- coursedetailtop ends here -->

                                        <!--courseproper -->
                                        <div class="text no-pb">
                                            <%= render 'diplomalist' %>
                                        </div>
                                    <!--courseproper ends here-->
 <!--bottom coursedetails -->
                                     <!--bottom coursedetails -->
<%= render 'bottomcoursedetails' %>
<!--bottom coursedetails ends here --> 
<!--bottom coursedetails ends here -->
        
        <!-- footer -->
<%= render 'footer' %>
        <!--footer ends here -->